.script-creation-section {
    position: relative; 
    background: white;
    padding: 12px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 600px;
    min-height: 140px; 
    margin: 95px auto 20px auto;
    z-index: 10;
    overflow: hidden; 
}

.script-creation-section h3 {
    font-size: 18.5px;
    margin: 0 5px 0 0;
    padding-left: 8px;
    margin-bottom: 10px; 
}

.script-creation-section form {
    display: flex;
    flex-direction: column;
}

.script-creation-section select {
    padding: 8px;
    padding-top: 9px;
    border-radius: 4px;
    border: 1px solid #ccc; 
    background-color: white;
    max-width: 180px; 
  }
  
  .script-creation-section select:focus {
    outline: none;
    border-color: #665eff; 
  }

.script-creation-section input[type="text"],
.script-creation-section textarea {
    border: none;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.script-creation-section input[type="text"]:focus,
.script-creation-section textarea:focus {
    outline: none;
    box-shadow: none;
}

.script-creation-section textarea {
    resize: none; 

}


.buttonscript {
    position: absolute; 
    right: 12px; 
    bottom: 12px; 
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer; 
}

.buttonscript:hover {
    background-color: #333; 
}
